<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <h1>
    Bienvenu au jeu des allumettes
  </h1>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <img style="text-align:left" src="assets/player.jpg" alt="player.jpg">
      <span>Joueur 1</span><br>
      Combien prenez-vous d'allumettes ?<br>
      <input type="button" *ngFor="let i of allumette;" value="{{i}}" />
    </div>
    <div class="col-md-6">
      <h4>
        Celui qui prend la dernière allumette gagne la partie !<br><br><br>
      </h4>
      <h5>Nombre des allumettes: {{allumettesNumber}} </h5>
      <div>
        <img src="assets/allumette.png" alt="player.jpg" *ngFor="let i of allumettesItems;"/>
      </div> 
    </div>
    <div class="col-md-3">
      <img style="text-align:right" src="assets/player.jpg" alt="player.jpg">
      <span>Joueur 2</span><br>
      Combien prenez-vous d'allumettes ?<br>
      <input type="button" *ngFor="let i of allumette;" value="{{i}}" />
    </div>
  </div>  
</div>


